[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment

Environment=CART_HOST=cart-{{ENV}}.roboshop.internal
Environment=USER_HOST=user-{{ENV}}.roboshop.internal
Environment=AMQP_HOST=rabbitmq-{{ENV}}.roboshop.internal
Environment=AMQP_USER={{SECRET.RABBITMQ_USER}}
Environment=AMQP_PASS={{SECRET.RABBITMQ_PASS}}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target